@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 150vh;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  display: flex;
  margin: 0;
  padding: 0 70px;
  height: 65px;
}

.navigation-menu {
  display: flex;
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 1px 16px;
  margin: 0 50px 0 0;
}

.navigation-item {
  margin-right: 32px;
  border: 1px solid transparent;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  padding: 18px 0 17px;
  color: #000000;
  position: relative;
}

.navigation-link:hover {
  color: rgba(117, 98, 87, 1);
}

.navigation-link:focus {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.index-underline,
.catalog-underline {
  border-bottom: 2px solid #756257;
}

.user-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 0 0 auto;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}

.user-menu-item {
  text-decoration: none;
}

.user-menu .user-menu-link {
  padding: 24px 21px;
  position: relative;
}

.navigation-logo {
  margin: 0;
  margin-right: 30px;
  z-index: 1;
}

.header-icon {
  position: absolute;
  top: -3px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.user-menu-link:hover path {
  fill: #756257;
}

.user-menu-link:active path{
  fill: #756257;
}

.header-button {
  display: block;
  padding: 7px 15px 7px;
  margin-top: 14px;
  margin-bottom: 19px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 16px;
  width: 160px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: #756257;
  box-sizing: border-box;
}

.header-button:hover {
  background-color: #615048;
}

.header-button:active {
  color: #FFFFFF;
  background-color: #615048;
}

.header-button:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.header-logo {
  display: block;
  height: 70px;
  width: 140px;
}

.main-container {
  flex-grow: 1;
}

.sedona-welcome-logo {
  padding: 51px 250px 82px;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto, cover;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
}

.sedona-description {
  padding: 63px 240px 31px;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background: #FFFFFF;
}

.sedona-advantages {
  color: #333333;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin: 0 240px 80px;
}

.advantages {
  background: #FFFFFF;
}

.big-description-container {
  padding: 97px 90px 87px;
}

.small-description-container {
  padding: 98px 75px 108px;
}

.food-icon-container {
  padding: 91px 75px 87px;
}

.home-icon-container {
  padding: 89px 75px 87px;
}

.souvenirs-icon-container {
  padding: 85px 75px 87px;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.advantages-item-photo {
  display: flex;
}

.small-advantages-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.advantages-item,
.small-advantages-item {
  flex-basis: 33%;
  flex-grow: 1;
}

.advantages-item-big {
  flex-basis: 100%;
}

.advantage-item-city {
  grid-area: advantage-item-city;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.advantage-item-bridge {
  grid-area: advantage-item-bridge;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.advantage-square {
  grid-area: advantage-square;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.advantage-road {
  grid-area: advantage-road;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.advantage-tourist {
  grid-area: advantage-tourist;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}


.advantages-description {
  margin: 30px 0 0;
}

.small-advantages-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.number {
  font-size: 18px;
  line-height: 21px;
}

.advantages-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.icon-advantages-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 20px 0;
}

.blue-background {
  background: rgba(131, 179, 211, 0.12);;
}

.white-background {
  background-color: #FFFFFF;
}

.dark-blue-background {
  background-color: rgba(131, 179, 211, 0.2);
}

.white-text {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.advantage-photo {
  object-fit: cover;
}

.search {
  text-align: center;
  padding: 91px 240px 93px;
}

.search-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 29px;
}

.search-info {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 720px;
  margin: 0 0 56px;
}

.search-button {
  display: block;
  background-color: #756257;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  box-sizing: border-box;
  width: 575px;
  border-radius: 10px;
  padding: 15px;
  margin: 0 auto;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:disabled {
  color: rgba(255, 255, 255, 0.3);;
  background-color: #615048;
}

.search-button:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.mailing-list {
  padding: 0 200px 93px;
}

.index-mailing-list {
  background-image: url("../images/background-index-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  text-align: center;
}

.subscribe-mailing-list {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 46px;
  padding: 0;
}

.email-form {
  display: flex;
}

.catalog-email {
  background-color: #F2F2F2;
}

.email {
  box-sizing: border-box;
  width: 600px;
  height: 60px;
  border-radius: 10px 0 0 10px;
  margin: 0;
  padding: 0 0 0 22px;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  border: none;
}

.email:hover {
  background-color: #E5E5E5;
}

.email:focus {
  background-color: #E5E5E5;
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.email:invalid {
  background-color: #FFFFFF;
  box-shadow: inset 0 0 0 2px #FF5757;
  outline: none;
}

.mailing-list-description {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding: 0;
  margin: 0 140px 46px;
}

.subscribe-button {
  text-align: center;
  text-transform: uppercase;
  background: #83B3D3;
  border: 0;
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  width: 200px;
  height: 60px;
  border-radius: 0 10px 10px 0;
  margin: 0;
  padding: 0;
}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:focus {
  background-color: #68A2CA;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.subscribe-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 1);
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social-item {
  margin-right: 10px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social-link {
  display: block;
  align-items: center;
  justify-content: center;
  outline: none;
  box-shadow: inset 0 0 0 3px transparent;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
}

.footer-social-icon {
  overflow: visible;
}

.footer-social-icon:hover path {
  fill: #68A2CA;
}

.footer-social-link:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.footer-social-icon:active {
  fill: rgba(104, 162, 202, 1);
}

.footer-contacts-phone {
  display: block;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-right: auto;
  width: 400px;
  margin-left: 210px;
}

.footer-contacts-phone:hover {
  color: rgba(117, 98, 87, 1);
}

.footer-contacts-phone:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  color: rgba(117, 98, 87, 1);
}

.footer-contacts-phone:active {
  color: #756257;
  opacity: 30%;
}

.htmlacademy-logo {
  display: block;
  width: 115px;
}

.htmlacademy-link {
  margin-right: -6px;
  margin-top: 2px;
}

.htmlacademy-logo-icon:hover > path {
  fill: #756257;
}

.htmlacademy-logo-icon:focus > path {
  box-shadow: inset 0 0 0 3px #83B3D3;
  fill: #756257;
}

.htmlacademy-logo-icon:active > path {
  fill: rgba(0, 0, 0, 0.25);
}

.inner-header {
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-size: 100% auto;
  padding: 40px 71px 81px;

}

.inner-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 68px;
}

.inner-header-content {
  width: 1060px;
  margin: 0 auto;
  padding-top: 35px;
}

.breadcrumbs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0 42px;
  list-style: none;
  padding: 0;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6)
}

.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.to-main-breadcrumbs {
  display: flex;
  align-items: center;
  min-width: 12px;
  min-height: 12px;
  margin-right: 28px;
}

.breadcrumbs-icon {
  margin-left: 2px;
  margin-top: -3px;
}

.breadcrumbs-icon:hover > path {
  fill: rgba(255, 255, 255, 0.6)
}

.breadcrumbs-icon:focus > path {
  fill: rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.breadcrumbs-icon:active > path {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-hotel {
  margin-left: -2px;
  margin-top: -1px;
}

.main-breadcrumbs-link::after {
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 24px;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: -2px;
}

.catalog-filter-title {
  padding: 0;
  padding-top: 5px;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.input-wrapper {
  border: 1px solid white;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  appearance: none;
  width: 20px;
  height: 20px;
  content: "";
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  font-weight: normal;
  margin-left: 40px;
}

.control-mark:hover {
  background: rgba(255, 255, 255, 0.6);
}

.control-mark:focus {
  background: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.control-mark:active {
  background: rgba(255, 255, 255, 0.3);
}

.control-input[type="radio"]:active + .control-mark {
  border: 3px solid #83B3D3;
}

.range-wrapper-inputs:hover {
  border: 2px solid #FFFFFF;
  opacity: 0.6;
}

.range-wrapper-inputs:focus {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0 0 0 3px #81B3D2;
}

.range-wrapper-inputs:active {
  background: #756257;
  border: 2px solid #FFFFFF;
}

.price-title {
  margin-bottom: 33px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  padding-top: 7px;
  padding-left: 0px;
}

.range-wrapper-inputs {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  margin-bottom: 30px;
}

.range-input {
  font-size: 18px;
  line-height: 23px;
  width: 44px;
  text-align: center;
  background-color: transparent;
  border: none;

  color: white;
  margin: 0;
  padding: 3px 0 0 3px;
  font-family: "PT sans", sans-serif;
}

.catalog-filter-label:first-child {
  border-right: 1px solid white;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-label {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
}

.catalog-infrastructure {
  width: 150px;
  margin-right: 65px;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotel-type-group {
  min-width: 130px;
  margin-right: 167px;
  margin-left: 3px;
}

.catalog-filter-item {
  padding-bottom: 13px;
}

.catalog-filter-item:last-child {
  padding-bottom: 0;
}

.hotel-number {
  width: 160px;
  height: 48px;
  padding: 13px 98px 11px 17px;
  color: #333333;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  font: inherit;
  background-color: #ffffff;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;
  appearance: none;
}

.control {
  position: relative;
  display: block;
}

.control-input {
  margin-right: 16px;
  background-color: #FFFFFF;
}

.control-input-checkbox {
  margin-right: 19px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 4px;
}

.control:hover .control-mark {
  border-color: #814b18;
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.price {
  width: 290px;
}

.buttons {
  width: 160px;
  margin-left: 80px;
}

.hotel-search-container {
  width: 1060px;
  margin: 0 auto;
}

.apply-value {
  font-weight: 700;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83B3D3;
  color: #FFFFFF;
  width: 100%;
  margin: 0;
  margin-top: 67px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  padding: 11px 0 13px
}

.apply-value:hover {
  background-color: #68A2CA;
}

.apply-value:focus {
  box-shadow: inset 0 0 0 3px #FFFFFF;
  outline: none;
}

.apply-value:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  display: flex;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: rgba(255,255,255, 0.3);
  border-radius: 2px;
}

.range-bar {
  left: 11px;
  width: 216px;
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 22px;
  height: 22px;
  background: #ffffff;
  border: 2px solid #242424;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background: #FFFFFF;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -10px;
  left: -11px;
}

.toggle-max {
  top: -10px;
  right: -11px;
}

.reset-value {
  color: rgba(255, 255, 255, 1);
  background: transparent;
  border: none;
  font-size: 17px;
  line-height: 23px;
  margin-left: 35px;
  padding: 0 6px;
}

.reset-value:hover {
  color: rgba(255, 255, 255, 0.6);
}

.reset-value:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.reset-value:active {
  color: rgba(255, 255, 255, 0.3);
}

.number-of-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 14px;
}

.hotels-catalog-filter {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.hotel-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 8px;
  column-gap: 14px;
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
  margin-top: 36px;
}

.hotel-card {
  padding: 20px;
  box-sizing: border-box;
  width: 340px;
}

.hotel-type-filter {
  display: block;
}

.cards-position {
  display: flex;
  padding: 0;
  margin-top: 32px;
}

.cards-position-icon {
  padding: 16px;
}


.cards-position-item {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: 48px;
  width: 48px;
  border: 2px solid #E6E6E6;
  margin-left: 8px;
  border-radius: 4px;
  box-sizing: border-box;
}

.cards-position-item:hover {
  border: 2px solid #83B3D3;
}

.cards-position-item:focus {
  border: 2px solid #83B3D3;
}

.cards-position-item:active {
  border: 2px solid #000000;
}

.cards-position-item:first-child {
  border: 2px solid #000000;
  border-radius: 4px;
}

.hotel-card-image {
  object-fit: cover;
}

.hotel-card-image:hover {
  opacity: 0.6;
}

.hotel-card-image:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
}

.hotel-card-image:active {
  opacity: 0.3;
}

.select-control {
  margin: 16px 73px 0 192px;
  padding: 7px 3px 13px 17px;
  width: 287px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  font: inherit;
  background-color: #ffffff;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  appearance: none;
}

.select-control:hover {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
}

.select-control:focus {
  border: 2px solid #83B3D3;
}

.select-control:active {
  border: 2px solid #E6E6E6;
  color: #E6E6E6;
}


.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin: 11px 0 3px 2px;
}

.price-name {
  display: flex;
  margin: -8px 0 16px;
  color: #333333;
  font-size: 18px;
  line-height: 23px;
}

.price-name-inner {
  flex-basis: 50%;
  margin-left: 2px;
}

.price-label {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  opacity: 0.3;
  margin: 10px 16px 11px 0;
}

.range-input-max {
  padding-left: 16px;
}

.price-catalog {
  margin-left: 18px;
}

.hotel-card-link {
  color: #000000;
  text-decoration: none;
  border: 2px solid transparent;
}

.details-card-button {
  height: 37px;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  margin-right: 26px;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 7px 0 0;
  width: 140px;
}

.details-card-button:hover {
  background: #615048;
}

.details-card-button:focus {
  background: #615048;
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.details-card-button:active {
  background: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.favorites-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #83B3D3;
  width: 140px;
  padding: 10px 0 0;
  border-radius: 4px;
}

.favorites-button:hover {
  background: #68A2CA;
}

.favorites-button:focus {
  background: #68A2CA;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.favorites-button:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.favorites-details {
  display: flex;
  margin-bottom: 16px;
  margin-top: 2px;
}

.stars {
  min-width: 91px;
}

.in-favorites-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #7DB54F;
  padding: 7px 0 0;
  width: 140px;
  border: 2px solid transparent;
  border-radius: 4px;
}

.in-favorites-button:hover {
  background: #6C9E42;
}

.in-favorites-button:focus {
  background: #6C9E42;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.in-favorites-button:active {
  background: #6C9E42;
  color: rgba(255, 255, 255, 0.3);
}

.rating-number {
  display: block;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  width: 160px;
  padding: 11px 0 10px;
  margin-left: auto;
  margin-right: -2px;
}

.hotel-rating {
  display: flex;
  margin-left: 1px;
  margin-top: -2px;
}

.download-more-button {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 620px;
  height: 60px;
  border: none;
  border-radius: 4px;
}

.stars-rating {
  display: flex;
  align-items: center;
}

.star-icon {
  margin-right: 7px;
}

.download-more {
  text-align: center;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  padding: 30px 0;
}

.download-more-button:hover {
  background-color: #68A2CA;
}

.download-more-button:focus {
  background-color: #68A2CA;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.download-more-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 1);
}

.pagination-select {
  display: flex;
  width: 1056px;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 73px;
  align-items: center;
}

.pagination-link {
  display: block;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #83B3D3;
  width: 51px;
  margin-right: 8px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 4px;
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}


.pagination-link-number:hover {
  background: #68A2CA;
}

.pagination-link-number:focus {
  background: #68A2CA;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.pagination-link-number:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0);
}

.pagination-current {
  background-color: #F2F2F2;
}

.pagination-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -1px;
  margin-left: 2px;
}

.page-hotel {
  font-size: 18px;
  line-height: 23px;
  margin-right: 45px;
}

.hotel-number-form {
  margin-top: -6px;
}


.catalog-mailing-list {
  background-color: #FFFFFF;
  text-align: center;
}

.page-footer {
  background-color: #FFFFFF;
}

.footer-contact-list {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  padding: 87px 72px 30px 56px;
  align-items: center;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 100;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
}

.modal-auth {
  max-width: 715px;
  padding: 62px 70px 70px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 55px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  border: 1px solid #83B3D3;
  background-color: #E6E6E6;
}

.modal-close-button:active {
  fill: #FFFFFF;
  opacity: 0.3;
  background-color: #E6E6E6;
}

.modal-title {
  margin: 0;
  margin-bottom: 63px;
  margin-left: -5px;
  font-size: 30px;
  line-height: 35px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
}

.auth-form-user-options {
  position: relative;
  display: flex;
  margin: 0;
  font-weight: 400;
  margin-bottom: 44px;
}

.auth-form-user-options .control-label {
  font-weight: 400;
}

.auth-form .field {
  width: 420px;
  box-sizing: border-box;
  padding: 1px 15px 0 18px;
  height: 50px;
}

.auth-form-field {
  background: #F2F2F2;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

.auth-form-field:hover {
  background-color: #E6E6E6;
}

.auth-form-field:focus {
  border: 1px solid #83B3D3;
  background-color: #E6E6E6;
}

.auth-form-field:active {
  border: 1px solid #000000;
}

.auth-form-field::placeholder {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  opacity: 1;
}

.small-form-field {
  width: 116px;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  padding: 4px 10px;
  margin: -4px 0 0 3px;
}

.small-form-field:first-of-type {
  margin-right: 70px;
}

.auth-form-button {
  background: #83B3D3;
  border-radius: 10px;
  color: #FFFFFF;
  width: 573px;
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  border: none;
  text-transform: uppercase;
  padding-left: 4px;
  margin-top: -2px;
}

.auth-form-button:hover {
  background-color: #68A2CA;
}

.auth-form-button:focus {
  border: 1px solid #756257;
  background-color: #68A2CA;
}

.auth-form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.incorrect-date {
  font-size: 16px;
  color: #FF5757;
  margin: 4px 0 16px 153px
}

.correct-date {
  font-size: 16px;
  color: #333333;
  line-height: 28px;
  margin: 0 0 18px 153px;
}

.auth-form .button + .button {
  margin: 0;
}

.auth-form-register {
  width: 360px;
  color: #000000;
  background-color: #ffffff;
}

.auth-form {
 margin: 0;
}

.field-group {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.input-label {
  font-weight: 700;
  font-size: 18px;
  margin-top: 15px;
}

.small-input-label {
  margin-right: 69px;
  margin-top: 10px
}

.field-group::after {
  content: '';
  display: block;
  height: 15px;
  width: 15px;
  background-image: url("../images/date1.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 17px;
  right: 21px;
}

.small-input {
  margin: 0;
}

.small-input-adults::before {
  position: absolute;
  top: 17px;
  left: 173px;
  width: 12px;
  height: 1px;
  background: #000000;
  opacity: 0.3;
  content: "";
}

.small-input-children:hover::before,
.small-input-adults:hover::before {
  opacity: 1;
}

.small-input-children:focus::before,
.small-input-adults:focus::before {
  border: 1px solid #83B3D3;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
}

.input-label-children {
  margin-left: -16px;
  margin-right: 50px;
}

.small-form-field::-webkit-outer-spin-button,
.small-form-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}


.tooltip {
  position: absolute;
  margin-top: 7px;
  margin-left: 397px;
  width: 16px;
  height: 16px;
}

.tooltip-toggle {
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83B3D3;
}

.tooltip-text {
  background-color: #242424;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  text-transform: none;
  padding: 20px 18px 18px 22px;
  border-radius: 8px;
  width: 255px;
  box-sizing: border-box;
  position: absolute;
  top: calc(100% + 25px);
  left: -114px;
  z-index: 1;
  display: none;
  min-height: 105px;
  line-height: 20px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  content:'';
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #242424;
  position:absolute;
  top: -9px;
  right: 50%;
  transform: translateX(50%);
}

.sign-button {
  width: 0;
  height: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.modal-container-close {
  display: none;
}
