@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
}

.page-header {
  display: flex;
  margin: 0;
  padding: 0 70px;
}

.navigation-menu {
  display: flex;
  flex-grow: 1;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.navigation-link:hover {
  color: rgba(117, 98, 87, 1);
}

.navigation-link:focus {
  color: rgba(117, 98, 87, 0.3);
  border: none;
}

.navigation-link:active {
  color: rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid #000000;
}

.index-underline,
.catalog-underline{
  border-bottom: 2px solid #756257;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 50px 0 0;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
  align-items: center;
}

.user-menu-item {
  text-decoration: none;
}

.user-menu .user-menu-link {
  min-width: 18px;
  min-height: 18px;
  padding: 24px 19px;
  position: relative;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
}

.header-button {
  padding: 9px 15px 8px;
  margin-top: 14px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
  background-color: #756257;
  box-sizing: border-box;
}

.header-button:hover {
  background-color: #615048;
}

.header-button:active {
  color: #FFFFFF;
  background-color: #615048;
}

.header-button:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.header-logo {
  display: block;
}

.header-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.header-icon:hover > path {
  fill: #756257;
}

.header-icon:active {
  fill: #756257;
}

.main-container {
  flex-grow: 1;
}

.sedona-welcome-logo {
  padding: 46px 250px 82px;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto, cover;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
}

.sedona-description {
  margin: 63px 240px 31px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.sedona-advantages {
  color: #333333;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin: 0 240px 80px;
}

.big-description-container {
  padding: 97px 90px 20px;
}

.small-description-container {
  padding: 89px 75px 79px;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.advantages-item-photo {
  display: flex;
}

.small-advantages-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.advantages-item,
.small-advantages-item {
  flex-basis: 33%;
  flex-grow: 1;
}

.advantages-item-big {
  flex-basis: 100%;
}

.advantage-item-city{
  grid-area: advantage-item-city;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.advantage-item-bridge {
  grid-area: advantage-item-bridge;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.advantage-square {
  grid-area: advantage-square;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.advantage-road {
  grid-area: advantage-road;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.advantage-tourist {
  grid-area: advantage-tourist;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}


.advantages-description {
  margin: 30px 0 0;
}

.small-advantages-description {
  margin: 20px 0 0;
}

.icon {
  min-width: 75px;
  min-height: 72px;
}

.advantages-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.blue-background {
  background-color: rgba(131, 179, 211, 0.12);
}

.white-background {
  background-color: #FFFFFF;
}

.dark-blue-background {
  background-color: rgba(131, 179, 211, 0.2);
}

.white-text {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.advantage-photo{
  object-fit: cover;
}

.search {
  text-align: center;
  padding: 91px 240px 93px;
}

.search-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 29px;
}

.search-info {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 720px;
  margin: 0 0  56px;
}

.search-button {
  display: inline-block;
  background-color: #756257;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  width: 575px;
  border-radius: 10px;
  padding: 15px;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:disabled {
  color: rgba(255, 255, 255, 0.3);;
  background-color: #615048;
}

.search-button:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.mailing-list {
  padding: 73px 200px 140px;
}

.index-mailing-list {
  background-image: url("../images/background-index-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  text-align: center;
}

.subscribe-mailing-list {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
}

.email-form {
  display: flex;
}

.catalog-email {
  background-color: #F2F2F2;
}

.email {
  width: 600px;
  height: 60px;
  border-radius: 10px 0 0 10px;
  margin: 0;
  padding: 0 0 0 5px;
  border: none;
}

.email:hover {
  background-color: #E5E5E5;
}

.email:focus {
  background-color: #E5E5E5;
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.email:invalid {
  background-color: #FFFFFF;
  box-shadow: inset 0 0 0 2px #FF5757;
  outline: none;
}

.mailing-list-description {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding: 0;
  margin: 0 140px 46px;
}

.subscribe-button {
  text-align: center;
  text-transform: uppercase;
  background: #83B3D3;
  border: 0;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
  width: 200px;
  height: 60px;
  border-radius: 0 10px 10px 0;
  margin: 0;
  padding: 0;
}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:focus {
  background-color: #68A2CA;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.subscribe-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 1);
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.footer-social-link {
  display: block;
  align-items: center;
  justify-content: center;
  outline: none;
  box-shadow: inset 0 0 0 3px transparent;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
}

.footer-social-link:last-child {
  margin: 0;
}

.footer-social-icon {
  overflow: visible;
}

.footer-social-icon:hover path {
  fill: #68A2CA;
}

.footer-social-link:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.footer-social-icon:active {
  fill: rgba(104, 162, 202, 1);
}

.footer-contacts-phone {
  display: block;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-right: 53px;
  width: 700px;
  margin-left: 60px;
}

.footer-contacts-phone:hover {
  color: rgba(117, 98, 87, 1);
}

.footer-contacts-phone:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  color: rgba(117, 98, 87, 1);
}

.footer-contacts-phone:active {
  color: #756257 ;
  opacity: 30%;
}

.htmlacademy-logo {
  display: block;
  width: 115px;
  margin-left: auto;
}

.htmlacademy-logo-icon:hover > path {
  fill: #756257;
}

.htmlacademy-logo-icon:focus > path {
  box-shadow: inset 0 0 0 3px #83B3D3;
  fill: #756257;
}

.htmlacademy-logo-icon:active > path {
 fill: rgba(0, 0, 0, 0.25);
}

.inner-header {
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-size: 100% auto;
  padding: 35px 71px 83px;

}

.inner-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.inner-header-content {
  width: 1060px;
  margin: 0 auto;
  padding-top: 35px;
}

.breadcrumbs {
  position: relative;
  display: flex;
  margin: 5px 0 45px;
  list-style: none;
  padding: 0;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6)
}

.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.breadcrumbs-link:active {
  rgba(255, 255, 255, 0.3);
}

.to-main-breadcrumbs {
  min-width: 12px;
  min-height: 12px;
  margin-right: 11px;
}

.breadcrumbs-icon:hover > path {
  fill: rgba(255, 255, 255, 0.6)
}

.breadcrumbs-icon:focus > path {
  fill: rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.breadcrumbs-icon:active > path {
  fill: rgba(255, 255, 255, 0.3);
}

.hotels-breadcrumbs{
  margin-left: 15px;
}

.main-breadcrumbs-link::after {
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 2px;
  margin-left: 23px;
}

.control-input {
  background-color: #FFFFFF;
}


.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-title {
  padding-bottom: 30px;
}

.price-title {
  margin-bottom: 34px;
}

.catalog-infrastructure {
  width: 150px;
  margin-right: 65px;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotel-type-group {
  min-width: 130px;
  margin-right: 167px;
}

.catalog-filter-item {
  padding-bottom: 13px;
}

.catalog-filter-item:last-child {
  padding-bottom: 0;
}

.price {
  width: 290px;
}

.buttons {
  width: 160px;
  margin-left: 80px;
}

.hotel-search-container {
  width: 1060px;
  margin: 0 auto;
}

.apply-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83B3D3;
  color: #FFFFFF;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  padding: 10px 0 9px;
}

.apply-value:hover {
 background-color: #68A2CA;
}

.apply-value:focus {
  box-shadow: inset 0 0 0 3px #FFFFFF;
  outline: none;
}

.apply-value:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  display: flex;
}


.reset-value {
  color: rgba(255, 255, 255, 1);
  background: transparent;
  border: none;
  font-size: 18px;
  line-height: 23px;
  padding: 0 35px;
}

.reset-value:hover {
  color: rgba(255, 255, 255, 0.6);
}

.reset-value:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.reset-value:active {
  color: rgba(255, 255, 255, 0.3);
}

.number-of-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 56px 0 44px;
}

.hotels-catalog-filter {
  display: flex;
  align-items: center;
}

.hotel-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
}

.hotel-card {
  padding: 20px;
  box-sizing: border-box;
  width: 340px;
}

.hotel-type-filter {
  margin: 0 80px 0 auto;
}

.cards-position {
  display: flex;
  padding: 0;
}

.cards-position-icon {
  padding: 16px;
}


.cards-position-item {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  min-width: 48px;
  border: 2px solid #E6E6E6;
  margin-left: 8px;
  border-radius: 4px;
  box-sizing: border-box;
}

.cards-position-item:hover {
  border: 2px solid #83B3D3;
}

.cards-position-item:focus {
  border: 2px solid #83B3D3;
}

.cards-position-item:active {
  border: 2px solid #000000;
}

.cards-position-item:first-child {
  border: 2px solid #000000;
  border-radius: 4px;
}

.hotel-card-image {
  object-fit: cover;
}

.hotel-card-image:hover {
  opacity: 0.6;
}

.hotel-card-image:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
}

.hotel-card-image:active {
  opacity: 0.3;
}

.select-control {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin-left: auto;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.select-control:hover {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
}

.select-control:focus {
  border: 2px solid #83B3D3;
}

.select-control:active {
  border: 2px solid #E6E6E6;
  color: #E6E6E6;
}


.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin: 16px 0;
}

.price-name {
  display: flex;
  margin: 0 0 16px;
  color: #333333;
  font-size: 18px;
  line-height: 23px;
}

.price-name-inner {
  flex-basis: 50%;
}

.price-catalog{
  margin-left: 35px;
}

.hotel-card-link {
  color: #000000;
  text-decoration: none;
}

.details-card-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  margin-right: 26px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 0 9px;
  width: 140px;
}

.details-card-button:hover {
  background: #615048;
}

.details-card-button:focus {
  background: #615048;
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.details-card-button:active {
  background: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.favorites-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #83B3D3;
  width: 140px;
  padding: 10px 0 9px;
  border-radius: 4px;
}

.favorites-button:hover {
  background: #68A2CA;
}

.favorites-button:focus {
  background: #68A2CA;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.favorites-button:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.favorites-details {
  display: flex;
  margin-bottom: 16px;
}

.stars {
  min-width: 91px;
}

.in-favorites-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #7DB54F;
  padding: 10px 0 9px;
  width: 140px;
  border-radius: 4px;
}

.in-favorites-button:hover {
  background: #6C9E42;
}

.in-favorites-button:focus {
  background: #6C9E42;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.in-favorites-button:active {
  background: #6C9E42;
  color: rgba(255, 255, 255, 0.3);
}

.rating-number {
  display: block;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  width: 160px;
  padding: 9px 0 10px;
  margin-left: auto;
  margin-right: 0;
}

.hotel-rating {
  display: flex;
}

.download-more-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 620px;
  height: 60px;
  border: none;
  border-radius: 4px;
}

.stars-rating {
  display: flex;
  align-items: center;
}

.star-icon {
  margin-right: 7px;
}

.download-more {
  text-align: center;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  padding: 30px 0;
}

.download-more-button:hover {
  background-color: #68A2CA;
}

.download-more-button:focus {
  background-color: #68A2CA;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.download-more-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 1);
}

.pagination-select {
  display: flex;
  width: 1056px;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 73px;
  align-items: center;
}

.pagination-link {
  diaspay: block;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #83B3D3;
  width: 55px;
  margin-right: 8px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}


.pagination-link-number:hover {
  background: #68A2CA;
}

.pagination-link-number:focus {
  background: #68A2CA;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.pagination-link-number:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0);
}

.pagination-current {
  background-color: #F2F2F2;
}

.pagination-list {
  display: flex;
  list-style: none;
}

.page-hotel {
  font-size: 18px;
  line-height: 23px;
}

.catalog-mailing-list {
  background-color: #FFFFFF;
  text-align: center;
}

.page-footer {
  background-color: #FFFFFF;
}

.footer-contact-list {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  padding: 40px 72px 30px;
  align-items: center;
}

