@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
}

.page-header {
  display: flex;
  margin: 0;
  padding: 0 70px;
}

.navigation-menu {
  display: flex;
  flex-grow: 1;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 282px 0 0;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  align-items: center;
}

.user-menu-item {
  text-decoration: none;
}

.user-menu .user-menu-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
}

.header-button {
  padding: 9px 15px 8px;
  margin-top: 14px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
}

.header-logo {
  display: block;
}

.main-container {
  flex-grow: 1;
}

.sedona-welcome-logo {
  padding: 46px 371px 82px;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto, cover;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
}

.sedona-description {
  margin: 63px 240px 31px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.sedona-advantages {
  color: #333333;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin: 0 240px 80px;
}

.big-description-container {
  padding: 97px 90px 20px;
}

.small-description-container {
  padding: 89px 75px 79px;
}

.advantages-list{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "advantage-item-city advantage-item-city advantage-item-city"
    "advantage-item-bridge advantage-item-bridge advantage-item-bridge"
    "advantage-square advantage-road advantage-tourist";
}

.advantages-item-photo {
  display: flex;
}

.small-advantages-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.advantages-item,
.small-advantages-item {
  flex-basis: 33%;
  flex-grow: 1;
}

.advantages-item-big {
  flex-basis: 100%;
}

.advantage-item-city{
  grid-area: advantage-item-city;
}

.advantage-item-bridge{
  grid-area: advantage-item-bridge;
}

.advantage-square{
  grid-area: advantage-square;
}

.advantage-road{
  grid-area: advantage-road;
}

.advantage-tourist{
  grid-area: advantage-tourist;
}


.advantages-description {
  margin: 30px 0 0;
}

.small-advantages-description {
  margin: 20px 0 0;
}

.icon {
  min-width: 75px;
  min-height: 72px;
}

.advantages-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.blue-background {
  background-color: rgba(131, 179, 211, 0.12);
}

.white-background {
  background-color: #FFFFFF;
}

.dark-blue-background {
  background-color: rgba(131, 179, 211, 0.2);
}

.white-text {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.advantage-photo{
  object-fit: cover;
}

.search {
  text-align: center;
  padding: 91px 240px 93px;
}

.search-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 29px;
}

.search-info {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 720px;
  margin: 0 0  56px;
}

.search-button {
  display: inline-block;
  background-color: #756257;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px;
}

.mailing-list {
  padding: 73px 200px 140px;
}

.index-mailing-list {
  background-image: url("../images/background-index-footer.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  text-align: center;
}

.subscribe-mailing-list {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
}

.mailing-list-description {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin: 0 140px 46px;
}

.subscribe-button {
  text-align: center;
  text-transform: uppercase;
  background: #83B3D3;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
}

.footer-contact-list {
  padding: 40px 72px 30px;
}


.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 110px;
  list-style: none;
  padding: 0;
  margin-right: 61px;
}

.footer-social-item {
  width: 18px;
  height: 15px;
}

.footer-contacts-phone {
  display: block;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-right: 53px;
  width: 720px;
}

.htmlacademy-logo {
  display: block;
  width: 115px;
  margin-left: auto;
}

.inner-header {
  background-image: url("../images/catalog-background .jpg");
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-size: 100% auto;
  padding-top: 35px;
  padding-bottom: 83px;

}

.inner-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.inner-header-content {
  width: 1060px;
  margin: 0 auto;
  padding-top: 35px;
}

.breadcrumbs {
  display: flex;
  margin: 5px 0 45px;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.to-main-breadcrumbs {
  min-width: 12px;
}

.control-input {
  background-color: #FFFFFF;
}

.inner-header-container {
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-title {
  padding-bottom: 30px;
}

.price-title {
  margin-bottom: 34px;
}

.catalog-infrastructure {
  width: 150px;
  margin-right: 65px;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotel-type-group {
  min-width: 130px;
  margin-right: 167px;
}

.catalog-filter-item {
  padding-bottom: 13px;
}

.catalog-filter-item:last-child {
  padding-bottom: 0;
}

.price {
  width: 290px;
}

.buttons {
  width: 160px;
  margin-left: 80px;
}

.hotel-search-container {
  width: 1060px;
  margin: 0 auto;
}

.apply-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83B3D3;
  color: #FFFFFF;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.catalog-filter {
  display: flex;
}


.reset-value {
  color: #FFFFFF;
}

.number-of-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 56px 0 44px;
}

.hotel-type-filter {
  width: 290px;
}

.hotels-catalog-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hotel-list{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
}

.hotel-card {
  padding: 20px;
  box-sizing: border-box;
  width: 340px;
}

.hotel-type-filter {
  margin: 0 80px 0 0;
}

.cards-position-item {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.cards-position-item {
  min-width: 48px;
}

.hotel-card-image{
  object-fit: cover;
}

.select-control {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin-left: 190px;
  margin-right: 80px;
  width: 290px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin: 16px 0;
}

.price-name {
  display: flex;
  margin: 0 0 16px;
  color: #333333;
  font-size: 18px;
  line-height: 23px;
}

.price-name-inner {
  flex-basis: 50%;
}

.hotel-card-link {
  color: #000000;
  text-decoration: none;
}

.details-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  margin-right: 26px;
}

.favorites-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #83B3D3;
}

.favorites-details {
  margin-bottom: 16px;
}

.stars {
  min-width: 91px;
}

.in-favorites-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #7DB54F;
}

.rating-number {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;

}

.download-more-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 620px;
  height: 60px;
}

.download-more {
  text-align: center;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  padding: 30px 0;
}

.pagination-select {
  display: flex;
  width: 1056px;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 73px;
  align-items: center;
}

.pagination-link {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.pagination-item {
  background-color: #83B3D3;
  width: 55px;
  margin-right: 8px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-current-item {
  background-color: #F2F2F2;
}

.pagination-list {
  display: flex;
  list-style: none;
}

.page-hotel {
  font-size: 18px;
  line-height: 23px;
}

.catalog-mailing-list {
  background-color: #FFFFFF;
  text-align: center;
}

.page-footer {
  background-color: #FFFFFF;
}

.footer-contact-list {
  width: 1060px;
  margin: 0 auto;
  display: flex;
}

